@page
@model Baruch.Website.Pages.dashbordModel
@{
}
@section title{
       <title>داشبورد</title>
}

<section class="container mx-auto">
    <section class="grid grid-cols-4 mt-5 gap-10">
   <partial name="AsidePartial" />
        <main class="col-span-5 lg:col-span-3 shadow-lg p-5 mx-5 lg:mx-0 border lg:h-screen rounded-lg">
            <div class="border rounded p-5">

                <h3 class="text-gray-800 mb-5">مشخصات کاربری</h3>
                <div class="flex flex-wrap">

                    <h4 class="text-sm mx-16 text-nowrap mb-8"><span class="text-gray-800">نام و نام خانوادگی:</span> <span class="text-gray-500 font-bold">@Model.Userl.Email</span></h4>
                    <h4 class="text-sm mx-16 text-nowrap mb-8"><span class="text-gray-800">شماره تلفن:</span> <span class="text-gray-500 font-bold">@Model.Userl.PhoneNumber</span></h4>
                    <h4 class="text-sm mx-16 text-nowrap mb-8"><span class="text-gray-800">کد پستی:</span> <span class="text-gray-500 font-bold">@Model.Userl.Postalcode</span></h4>
                    <h4 class="text-sm mx-16 text-nowrap mb-8"><span class="text-gray-800">آدرس ایمیل:</span> <span class="text-gray-500 font-bold">@Model.Userl.UserName</span></h4>

                    <h4 class="text-sm mx-16"><span class="text-gray-800">آدرس:</span> <span class="text-gray-500 font-bold"> @Model.Userl.Address</span></h4>

                </div>
                <div class="flex justify-center lg:justify-end mt-6">

                    <a asp-page="EditProfile" class="bg-green-500 rounded  text-white p-3">
                        ویرایش مشخصات
                    </a>
                </div>

            </div>
        </main>
    </section>
</section>
