@page
@model Baruch.Website.Pages.articleModel
@{
    var article = Model.articl;
}
   <div class="container-1400 mx-auto">
    <div class="grid grid-cols-5">

        <main class="col-span-5 lg:col-span-3 p-5 border m-2 rounded-lg shadow text-gray-700">
            <div class="flex justify-between">
                <h3 class="text-2xl p-1 mb-3"></h3>
                <p class="text-lg text-gray-600 p-1"><i class="zmdi zmdi-calendar"></i>1401/02/01</p>
            </div>
            <div class="pb-2 border-b">


                <img class="w-full rounded-lg mx-auto" src="https://api.baruch.ir/images/@article.ImageName" alt="">
                
            </div>
            <div class="text-lg text-justify">

              @Html.Raw(article.Text)
            
                
            </main>
            <aside class="col-span-5 lg:col-span-2 border m-2 text-gray-700 rounded-lg shadow p-5">
                <h3 class="text-lg">سایر مقالات</h3>
                <ul class="text-lg pb-5">
                    @foreach (var art in Model.Articles)
                    {
                    if (art.Id != article.Id)
                    {
                    <li class="m-2 text-base"><a asp-page="article" asp-route-id="@art.Id"><i class="zmdi zmdi-chevron-left"></i> @art.Title</a></li>
                        
                    }
                    
                        
                    }
                  
                </ul>
                <hr/>
                <div>
                    <h3 class="mb-3">برچسب ها</h3>
                     <ul class="flex">
                         @foreach (var lable in article.labels)
                         {
                <li class="p-1 bg-gray-200 mx-1 rounded"><a href="@lable.Url">@lable.Text</a></li>
                             
                         }
             

            </ul>
                </div>
            </aside>
        </div>
    </div>

                @section Scripts{
<script src="/Site/js/commentModal.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
    Toastify({
  text: "با تشکر از نظر شما",
  duration: 3000,

  newWindow: true,
  
  gravity: "top", // `top` or `bottom`
  position: "right", // `left`, `center` or `right`
  stopOnFocus: false, // Prevents dismissing of toast on hover
  style: {
    background: "white",
    color: 'green',
    borderBottom: '2px solid green',
    padding: '20px'
  },
  onClick: function(){} // Callback after click
}).showToast();
</script>
}